.main {
    border: 10%;
    margin: 6%;
    background-color: #212529;
    font-family: 'Lobster',
                 cursive,
    cursive,
    sans-serif
}


.footer {
    margin: 6%;
    background-color: #212529;
    color: whitesmoke;
     font-family: 'Lobster',
                 cursive,
     cursive,
     sans-serif;
     
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #212529 !important;
}

main {
    flex: 1 0 auto;
}

.carousel {
    margin-bottom: 4rem;
}

.carousel {
    position: relative;
}

.carousel-item {
    height: 42rem;
    /* 42 */
}

#buttons {
    margin: 3%;
    text-align: center;
}

.table {
    
    font-size: 25px;
}

.bg-dark {
    font-family: 'Lobster',
                 cursive,
    cursive,
    sans-serif;
    font-size: 45px;
}

.form-control {
    background-color: #212529 !important;
    color: aliceblue !important;
    
}

.card-header {
    background-color: #212529 !important;
    color: aliceblue !important;
    
}

.card {

    background-color: #212529 !important;
    color: aliceblue !important;
    
}
.footer-button-3 {
    text-align: right;
}

.footer-button-2 {
    text-align: center;
}